{% extends "employee_information/base.html" %} {% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="d-flex justify-content-between">
            {% comment %} <h4 class="card-title mb-0">About us</h4> {% endcomment %}
          <p><h2> The Leading ICT and Banking Automation Solution Provider in Ethiopia</h2>

            Moti Engineering PLC is one of the leading Information and Communication Technology solutions providers in Ethiopia with a primary focus areas of ICT Network infrastructure, E-transaction processing solution, Enterprise Software and Digitization Solutions. We Moti Engineering are Ethiopia’s largest System Integrator & ATM supplier with 95% market share throughout the nation, coupled with over fifteen years of experience in supply & provisioning of a comprehensive SLA’s for the banking and financial services industry.
</p>      
        </div>
    </div>
</div>
<hr> {% endblock pageContent %}